<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:replace="android:fullBackupContent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroHive_1.NoSplash"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AgroHive_1.Splash"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".SignupSuccessActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".UsernameActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".HomepageActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".CreateListingActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".MyListingsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".MessageActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".RoleChangeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".OthersActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ChatDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ListingDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>
</manifest>